<table class="grid" ng-repeat="row in $ctrl.getTiles() track by $index">
  <!-- style="border: 1px solid black" -->
	<tr class="row">
		<td class="tile"
			ng-repeat="tile in row track by $index"
			ng-style="tile.hex%2 === 0 && {'border':'1px solid black'} || {'border':'1px solid red'}"
			ng-mouseover="$ctrl.setCurrentTile(tile)">
				<div ng-if='!tile.sprite'class="solid_font">{{tile.val}}</div>
				<div ng-if='tile.sprite' class="faded_font" style="background-image:url({{tile.sprite}})">{{tile.val}}</div>
			<!-- <span>{{tile.val}}</span> -->
			<!-- <span>{{tile.val}};{{tile.hex}}</span> -->
		</td>
	</tr>
	<!-- 
	<span>|</span>
	<span style="background-color:lightgrey">{{row.length}}</span>
	-->
  </table>
  	<!-- <p style="background-color:lightgrey"><span>Rows: </span><span>{{$ctrl.tiles.length}}</span></p> -->