<table>
	<tr>
		<th>Map Data 
		<button class="btn_action" ng-click="$ctrl.resetText('Map')">Reset</button>
		<button class="btn_action" ng-click="">Copy</button>
		</th>
		<th>Character Data 
		<button class="btn_action" ng-click="$ctrl.resetText('Character')">Reset</button>
		<button class="btn_action" ng-click="">Copy</button>
		</th>
	</tr>
	<tr>
		<td>Address {{self.memoryLocation.start}} > {{self.memoryLocation.end}}</td>
		<td>Address {{self.enemyLocation.start}} > {{self.enemyLocation.end}}</td>
	</tr>
	<tr>
		<td >
			<textarea style="width:256px; height:245px;"
			ng-model="$ctrl.formatMapData_Editor"
			ng-model-options="{ debounce: 1000 , getterSetter: true}"
			ng-change="$ctrl.formatMapData_Editor()">
			</textarea>
		</td>
		<td >
			<textarea style="width:256px; height:245px;"
			ng-model="$ctrl.formatEnemyData_Editor"
			ng-model-options="{ debounce: 1000 , getterSetter: true}"
			ng-change="$ctrl.formatEnemyData_Editor()"></textarea>
		</td>
	</tr>
	<tr>
		<td >
			<p>
				<span>Hexes {{$ctrl.getCurrentCount('Map')}} of {{$ctrl.getOriginalCount('Map')}}</span>
			</p>
			<p>
				<span>Tiles {{$ctrl.tilesDefined()}} of 224</span>
				<span ng-if="$ctrl.tilesDefined() != 224">. Need {{224 - $ctrl.tilesDefined()}}</span>
			</p>
		</td>
		<td >
			<p>
				<span>Hexes {{$ctrl.getCurrentCount('Character')}} of {{$ctrl.getOriginalCount('Character')}}</span>
			</p>
			<p> </p>
		</td>	
	</tr>
</div>
