<table style="display:inline-block">
	<tr>
		<th>Map Data 
		<button class="btn_action" ng-click="$ctrl.resetText('Map')">Reset</button>
		<button class="btn_action" ng-click="$ctrl.copyText('Map')">Copy</button>
		<button class="btn_action" ng-click="$ctrl.switchState('Map')">Switch To {{$ctrl.memoryNextState}}</button>
		</th>
		<th>Character Data 
		<button class="btn_action" ng-click="$ctrl.resetText('Character')">Reset</button>
		<button class="btn_action" ng-click="$ctrl.copyText('Character')">Copy</button>
		<button class="btn_action" ng-click="$ctrl.switchState('Character')">Switch To {{$ctrl.enemyNextState}}</button>
		</th>
	</tr>
	<tr>
		<td ng-if="!!$ctrl.memoryLocation.start">Address {{$ctrl.memoryLocation.start}} > {{$ctrl.memoryLocation.end}}</td>
		<td ng-if="!!$ctrl.enemyLocation.start">Address {{$ctrl.enemyLocation.start}} > {{$ctrl.enemyLocation.end}}</td>
	</tr>
	<tr style="margin-top:2px;">
		<td style="width:250px; height:160px;border: 1px solid;">
			<textarea style="width:100%; height:100%;"
			ng-if="$ctrl.memoryNextState == 'Simple'"
			ng-model="$ctrl.formatMapData_Editor"
			ng-model-options="{ debounce: 100 , getterSetter: true}"
			ng-change="$ctrl.formatMapData_Editor()">
			</textarea>
			<div style="width:100%; height:100%;"
			ng-if="$ctrl.memoryNextState == 'Raw'">TODO</div>
		</td>
		<td style="min-width:350px; min-height:300px;border: 1px solid;">
			<textarea style="width:100%; height:100%;"
			ng-if="$ctrl.enemyNextState == 'Simple'"
			ng-model="$ctrl.formatEnemyData_Editor"
			ng-model-options="{ debounce: 100 , getterSetter: true}"
			ng-change="$ctrl.formatEnemyData_Editor()"></textarea>
			<div ng-if="$ctrl.enemyNextState == 'Raw'" style="width:100%;height:280px;overflow-y: scroll;">
				<div style="border: 1px solid black;height:flex;min-height:20px;"
					 ng-repeat="hex in $ctrl.getSpawnData_Editor() track by $index">
					<div style="display: inline-block;width:135px">{{hex.name}}</div>
					<!-- Row: -->
					<div style="display: inline-block;width:100px">
						<button ng-click="$ctrl.moveCharacter(-1,0,$index)">^</button>
						<input type="number" style="width: 40px;" min="0" max="13" ng-model="hex.row" ng-model-options="{debounce : 10}" ng-change="$ctrl.setSpawnData_Service(hex,$index)"></input>
						<button ng-click="$ctrl.moveCharacter(1,0,$index)">v</button>
					</div>
					<!-- Col: -->
					<div style="display: inline-block;width:100">
						<button ng-click="$ctrl.moveCharacter(0,-1,$index)"><</button>
						<input type="number" style="width: 40px;" min="0" max="15" ng-model="hex.col" ng-model-options="{debounce : 10}" ng-change="$ctrl.setSpawnData_Service(hex,$index)"></input>
						<button ng-click="$ctrl.moveCharacter(0,1,$index)">></button>
					</div>
					<div ng-if="$ctrl.isDeletable(hex.name)" style="display: inline-block;width:100">
						<select
							style="height:26px;"
							ng-model="hex.direction"
							ng-change="$ctrl.updateDirection(hex.direction,$index)">
						<option ng-repeat="x in $ctrl.directions" ng-value="{{x.val}}">{{x.label}}</option>
						</select>
						<button ng-click="$ctrl.deleteCharacter($index)">Delete</button>
					</div>
				</div>
			</div>
			<div style="width:100%;height:28px;border: 1px solid black;height:flex;"
				 ng-if="$ctrl.enemyNextState == 'Raw'">
				 	<select name="enemySelect"
						style="height:26px;"
						ng-options="enemy for enemy in $ctrl.enemySelection"
						ng-model="$ctrl.currentEnemySelection"></select><button ng-click="$ctrl.addEnemy_Simple()">Add Enemy</button>
			</div>
		</td>
	</tr>
	<tr>
		<td >
			<p>
				<span>Hexes {{$ctrl.getCurrentCount('Map')}} of {{$ctrl.getOriginalCount('Map')}}</span>
			</p>
			<p>
				<span>Tiles {{$ctrl.tilesDefined()}} of 224</span>
				<span ng-if="$ctrl.tilesDefined() != 224">. Need {{224 - $ctrl.tilesDefined()}}</span>
			</p>
		</td>
		<td >
			<p>
				<span>Hexes {{$ctrl.getCurrentCount('Character')}} of {{$ctrl.getOriginalCount('Character')}}</span>
			</p>
			<p> </p>
		</td>	
	</tr>
</div>
