<table class="grid" ng-repeat="row in $ctrl.getTiles() track by $index" cellspacing="0" cellpadding="0">
	<!-- style="border: 1px solid black" -->
	<!-- ng-style="tile.hex%2 === 0 && {'border':'1px solid black'} || {'border':'1px solid red'}" -->
	<tr class="row">
		<td class="tile" 
			ng-repeat="tile in row track by $index"
			ng-mouseover="$ctrl.setCurrentTile(tile)">
				<div ng-if='!tile.sprite' ng-switch="tile.spawn" class="solid_font">
					<span ng-switch-when="">{{tile.val}}</span>
					<img ng-switch-default                src="img/characters/unknown_spawn.png"></img>
					<img ng-switch-when="kickle"          src="img/characters/kickle_spawn.png"></img>
					<img ng-switch-when="bag"             src="img/characters/bag.png"></img>
					<img ng-switch-when="noggle"          src="img/characters/noggle_down.png"></img>
					<img ng-switch-when="baserock_noggle" src="img/characters/baserock_noggle.png"></img>
					<img ng-switch-when="hoople"          src="img/characters/hoople_down.png"></img>
					<img ng-switch-when="max"             src="img/characters/max_down.png"></img>
					<img ng-switch-when="baserock_max"    src="img/characters/baserock_max.png"></img>
					<img ng-switch-when="rocky"           src="img/characters/rocky_down.png"></img>
					<img ng-switch-when="baserock_rocky"  src="img/characters/baserock_rocky.png"></img>
					<img ng-switch-when="spiny_left"      src="img/characters/spiny_left.png"></img>
					<img ng-switch-when="spiny_right"     src="img/characters/spiny_right.png"></img>
					<img ng-switch-when="sparky"          src="img/characters/sparky_down.png"></img>
					<img ng-switch-when="baserock_sparky" src="img/characters/baserock_sparky.png"></img>
				</div>
				<div ng-if='tile.sprite' ng-switch="tile.spawn" class="faded_font" style="background-image:url({{tile.sprite}})">
					<span ng-switch-when="">{{tile.val}}</span>
					<img ng-switch-default                src="img/characters/unknown_spawn.png"></img>
					<img ng-switch-when="kickle"          src="img/characters/kickle_spawn.png"></img>
					<img ng-switch-when="bag"             src="img/characters/bag.png"></img>
					<img ng-switch-when="noggle"          src="img/characters/noggle_down.png"></img>
					<img ng-switch-when="baserock_noggle" src="img/characters/baserock_noggle.png"></img>
					<img ng-switch-when="hoople"          src="img/characters/hoople_down.png"></img>
					<img ng-switch-when="max"             src="img/characters/max_down.png"></img>
					<img ng-switch-when="baserock_max"    src="img/characters/baserock_max.png"></img>
					<img ng-switch-when="rocky"           src="img/characters/rocky_down.png"></img>
					<img ng-switch-when="baserock_rocky"  src="img/characters/baserock_rocky.png"></img>
					<img ng-switch-when="spiny_left"      src="img/characters/spiny_left.png"></img>
					<img ng-switch-when="spiny_right"     src="img/characters/spiny_right.png"></img>
					<img ng-switch-when="sparky"          src="img/characters/sparky_down.png"></img>
					<img ng-switch-when="baserock_sparky" src="img/characters/baserock_sparky.png"></img>
				</div>
		</td>
	</tr>
</table>
<span>Tile Type Currently Hovered Over: {{$ctrl.currentTile.val}}</span>